<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-features"><%= link_to "Features", casein_features_path %></li>
<li id="tab-blogs"><%= link_to "Blogs", casein_blogs_path %></li>