<section id="image-static">
    <span class="overlay-bg"></span>
    <div id="home-masthead"class="fullimage-container titlize">  
        <div class="container pagize">
            <div class="row">
                <div class="col-md-12 textalignleft">
                      <h2>Connecting People Through Technology</h2>
                </div>
            </div>
        </div>
   	</div>
</section>
