<section id="mosaic" class="main-content default-padding shadow-off">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<div class="row">
						<div id="portfolio-projects" class="masonry-portfolio isotope">
							<ul id="projects">
								<li class="item-project col-md-4 digital-art isotope-item">
									<div class="item-container animated-content move_up animate">
										<div class="hover-wrap">
											<img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-30.jpg" width="681" height="960" alt="Sherlock Holmes" class="img-responsive">
										<div class="project-name">
										<div class="va">
											<a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/sherlock-holmes/" title="Sherlock Holmes">
													<h3>Sherlock Holmes</h3>
													<h4>Character Design - Drawing</h4>
											</a>	
										</div>
										</div>
										</div>
									</div>
								</li>

								<li class="item-project col-md-4 characters digital-art  isotope-item">
									<div class="item-container animated-content move_up animate">
										<div class="hover-wrap"><img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-29.jpg" width="683" height="720" alt="Bed Time" class="img-responsive">
											<div class="project-name">
												<div class="va">
													<a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/bed-time/" title="Bed Time">
													<h3>Bed Time</h3>
													<h4>Character Design - Drawing</h4>
													</a>	
												</div>
											</div>
										</div>
									</div>
								</li>

								<li class="item-project col-md-4 digital-art isotope-item">
								<div class="item-container animated-content move_up animate">
									<div class="hover-wrap">
										<img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-28.jpg" width="873" height="960" alt="Dance" class="img-responsive">
											<div class="project-name">
											<div class="va">
												<a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/dance/" title="Dance">
													<h3>Dance</h3>
													<h4>Character Design - Illustration</h4>
												</a>	
											</div>
										</div>
										</div>
								</div>
								</li>
								<li class="item-project col-md-4 digital-art products  isotope-item">
								<div class="item-container animated-content move_up animate">
									<div class="hover-wrap">
										<img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-27.jpg" width="800" height="766" alt="Bath" class="img-responsive">
										<div class="project-name">
											<div class="va">
												<a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/bath/" title="Bath">
																<h3>Bath</h3>
																<h4>Character Design</h4>
															</a>	</div>
										</div>
										</div></div>
								</li><li class="item-project col-md-4 characters  isotope-item">
								<div class="item-container animated-content move_up animate"><div class="hover-wrap"><img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-26.jpg" width="1024" height="797" alt="Tiger &amp; Girl" class="img-responsive"><div class="project-name">
											<div class="va"><a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/tiger-girl/" title="Tiger &amp; Girl">
																<h3>Tiger &amp; Girl</h3>
																<h4>Drawing</h4>
															</a>	</div>
										</div>
										</div></div>
								</li><li class="item-project col-md-4 characters digital-art  isotope-item">
								<div class="item-container animated-content move_up animate"><div class="hover-wrap"><img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-25.jpg" width="1024" height="454" alt="War" class="img-responsive"><div class="project-name">
											<div class="va" ><a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/war/" title="War">
																<h3>War</h3>
																<h4>Character Design - Drawing</h4>
															</a>	</div>
										</div>
										</div></div>
								</li>
								<li class="item-project col-md-4 characters  isotope-item" >
								<div class="item-container animated-content move_up animate"><div class="hover-wrap"><img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-24.jpg" width="624" height="960" alt="Princess Irulan" class="img-responsive"><div class="project-name">
											<div class="va"><a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/princess-irulan/" title="Princess Irulan">
																<h3>Princess Irulan</h3>
																<h4>Character Design</h4>
															</a>	</div>
										</div>
										</div></div>
								</li>
								<li class="item-project col-md-4 digital-art products  isotope-item">
								<div class="item-container animated-content move_up animate"><div class="hover-wrap"><img src="http://demo.az-themes.com/klaus/wp-content/uploads/2013/11/port-23.jpg" width="640" height="960" alt="Zombies" class="img-responsive"><div class="project-name">
											<div class="va"><a class="project-title" href="http://demo.az-themes.com/klaus/portfolio/zombies/" title="Zombies">
																<h3>Zombies</h3>
																<h4>Painting</h4>
															</a>	</div>
										</div>
										</div></div>
								</li>
							</ul>
						</div>
					</div>
				</div> 
			</div>
	</div>
</section>
