<section id="image-static">  
    <div id="quote-block"class="fullimage-container titlize">  
        <div class="container pagize">
            <div class="row">
                <div id="quote" class="col-md-12 textaligncenter">
                      <h3>"We the connected people, are the agents of change."</h3>  
                </div>
            </div>
        </div>              
   	</div>
</section>