<section id="image-static">
        <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="about-header">
            <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft">
                        <h2>About Conexus</h2>
                  </div>
              </div>
            </div>
        </div>
</section>

<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-block textaligncenter about-us">
                                <h2>Behind the Name</h2>
                                    <p>Conexus means connected in Latin and also is a play on words, "Connects Us". This really describes how we see ourselves and what we do for our clients. We connect people with people, connect business with the space they occupy and help businesses connect with their customers, either in the same room or over great distances all through technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-content image-cont mobile-padding custom-padding shadow-off" id="about-parallax">
        <span class="section-overlay-mask"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="ecologydesc" class="special-heading textaligncenter default text-normal" style="padding-bottom: 0px;">
                        <h1 style="color: #ffffff; font-size: 48px;" class="default">The Ecology of Technology</h1>
                        <p>The study of the way people interact with technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="what-we-do"class="text-block about-us textaligncenter">
                                <h2>What We Do</h2>
                                <p>After understanding who you are and how you do business we show our clients which of today’s technologies will provide the most value to your business.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-block about-us textaligncenter">
                                <h2>Our Capabilities</h2>

                                <div id="capabilities" class="clearfix">
                                    <div class="capabilities-list">
                                      <div class="capability">
                                          <%= link_to "Experiential Content", capabilities_experiential_content_path %>
                                      </div>

                                        <div class="capability">
                                            <%= link_to "Social Interaction", capabilities_social_interaction_path %>
                                        </div>

                                        <div class="capability">
                                           <%= link_to "Immersive Experience Design", capabilities_immersive_experience_design_path %>
                                        </div>

                                        <div class="capability">
                                            <%= link_to "Control System Programming", capabilities_control_system_programming_path %>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
