<section id="image-static">
        <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="contact-header">
                    <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft">
                        <h2>Contact</h2>
                    </div>
            	</div>
            </div>
        </div>
</section>

<section id="contact-headline">
  <h1 id="page_title">Thank you for your message,<br>We'll get back to you soon!</h1>
</section>
