<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="text-block textaligncenter">
                              <h1>AT&T - Digital Life 2014</h1>
                          </div>
                          <div id="owl-slider" class="owl-carousel">

                            <div class="owl-item"><%= image_tag "projects/digitallife14/owl_digitallife15_1.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/digitallife14/owl_digitallife15_2.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/digitallife14/owl_digitallife15_3.jpg" %></div>

                          </div>

                            <div class="text-block textaligncenter slider-info">
                              <p>We used some of our magic to create an app that allows customers to tap the buttons on the window cling and activate an audio clip and automation event in the window display to demonstrate the features of Digital Life at AT&T.</p>
                            </div>

                            <%= render "projects/backtoprojectsbtn.html.erb" %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
