<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="text-block textaligncenter">
                              <h1>AT&T - Digital Life 2016</h1>
                          </div>
                          <div id="owl-slider" class="owl-carousel">

                            <div class="owl-item"><%= image_tag "projects/digitallife16/owl_digitallife16_1.jpg" %></div>

                            <div class="owl-item"><%= image_tag "projects/digitallife16/owl_digitallife16_2.jpg" %></div>
                          </div>

                            <div class="text-block textaligncenter slider-info">
                              <p>This experience creates a simplified version of the AT&T Digital Life experience. It allows customers to educate themselves about Digital Life through audio clips and real time automation of the features. In store, AT&T Experience Guides have utilized the display in their presentations to potential customers.</p>
                              <p>The user interface is displayed on a touch monitor to emulate the experience of having the digital life app on your tablet at home.</p>
                            </div>

                            <%= render "projects/backtoprojectsbtn.html.erb" %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
