<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="text-block textaligncenter">
                              <h1>Fashion Week Chicago</h1>
                          </div>
                          <div id="owl-slider" class="owl-carousel">

                            <div class="owl-item"><img src="http://placehold.it/1170x500/42bdc2/FFFFFF"></div>

                            <div class="owl-item"><img src="http://placehold.it/1170x500/42bdc2/FFFFFF"></div>
                          </div>

                            <div class="text-block textaligncenter slider-info">
                              <p>Bacon ipsum dolor amet hamburger ham strip steak, rump bresaola pastrami spare ribs picanha nostrud cow. Shoulder esse ut ball tip sirloin in deserunt, ribeye meatloaf adipisicing.</p>
                            </div>

                            <%= render "projects/backtoprojectsbtn.html.erb" %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
