<div id="content">
    <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="text-block textaligncenter">
                              <h1>AT&T - Magical Gifts</h1>
                          </div>
                          <div id="owl-slider" class="owl-carousel">

                            <div class="owl-item"><%= image_tag "projects/magicalgifts/owl_magicalgifts_2.jpg" %></div>
                            <div class="owl-item"><%= image_tag "projects/magicalgifts/owl_magicalgifts_1.jpg" %></div>
                            
                          </div>

                            <div class="text-block textaligncenter slider-info">
                              <p>This implementation is powered by #MagicalGifts! Pedestrians are prompted to tweet to @attmichiganave using the specified hashtag leading to the ultimate holiday experience. Sending a tweet brings the window display to life, triggering audio, automated packages opening, and AT&T’s holiday brand element the “sparkle” projected on the sidewalk.</p>

                              <p>After participating, users are tweeted a holiday message from @attmichiganave and a picture of the window display to remember and share their experience.</p>
                            </div>

                            <%= render "projects/backtoprojectsbtn.html.erb" %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
