<section id="image-static">
        <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="projects-header">
                    <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft">
                        <h2>Our Work</h2>
                    </div>
            	</div>
            </div>
        </div>
</section>

<div id="projects-list" class="list">
  <%= render "projects/allprojects" %>
</div>
