#owl-slider .owl-item div{
  padding:5px;
}
#owl-slider .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.slider-info p{
  padding-top: 1rem;
  font-size: 1.2rem;

}

#button-container {
  margin-top: 3rem;
}
