// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "brandcolors";



.conexusblue {
  color: $conexusblue;
}

.conexusgreen {
  color: $conexusgreen;
}


.seperator {
position: relative;
display: block;
height: 1px;
background-color: #eaeaea;
margin: 10px 0;
}

.separator.transparent {
    background-color: transparent;
}


#home-contact-section{
  -webkit-animation-duration: 1.5s;
}
