<section>
  <div id="capabilities-menu">
<ul class='horizontal'>
  <li><%= link_to( "Experiential Content", capabilities_experiential_content_path) %></li>
  <li><%= link_to( "Immersive Experience Design", capabilities_immersive_experience_design_path) %></li>
  <li><%= link_to( "Social Interaction", capabilities_social_interaction_path) %></li>
  <li><%= link_to( "Control System Programming", capabilities_control_system_programming_path) %></li>
</ul>

</div>
</section>
