<section id="image-static">
    <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="controlsystems-header">
            <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft capabilitiesinfo">

                        <h2>Control System Programming</h2>

                        <p>Whether your meeting includes a video call, audio conference or a presentations any function in the room is perfectly configured every time with the press of an icon. </p>

                    </div>
            	</div>
            </div>
        </div>
</section>

<section class="main-content default-padding shadow-off">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-6">
                          <div id="what-we-do"class="text-block about-us textalignleft">
                            <h1>No Meetings Out of Your Control</h1>
                            <p>
                              Having the correct technology in your meeting space is important, however having a user friendly controls is what really makes the space functional. We have developed a simple yet powerful user interface that takes all the guess work out of setting up a meeting.
                            </p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
