<section id="image-static">
    <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="controlsystems-header">
            <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft capabilitiesinfo">

                        <h2>Control System Programming</h2>

                        <p>Having the correct technology in your meeting space is important, however having a user friendly controls is what really makes the space functional. We have developed a simple yet powerful user interface that takes the all the guess work out of setting up a meeting.</p>

                    </div>
            	</div>
            </div>
        </div>
</section>

<section class="main-content default-padding shadow-off">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-6">
                          <div id="what-we-do"class="text-block about-us textalignleft">
                            <h1>Kevin pork drumstick</h1>
                            <p>
                              Bacon ipsum dolor amet jowl pancetta pork chop salami venison sausage. Cupim boudin brisket pastrami shank burgdoggen short loin pig turducken ham ground round capicola. Kielbasa meatloaf doner, strip steak spare ribs tenderloin shoulder pastrami flank brisket. Sausage short loin meatloaf flank venison prosciutto chicken. Chicken tongue pork chop, shank sausage jerky turkey bacon leberkas turducken capicola cow boudin. Shank landjaeger turkey ham pork ham hock swine salami pork belly.
                            </p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
