<section id="image-static">
    <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="immersive-header">
            <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft capabilitiesinfo">

                        <h2>Immersive Experience Design</h2>

                        <p>Creating a space for people to interact with your brand</p>

                    </div>
            	</div>
            </div>
        </div>
</section>
<%= render "capabilities/capabilitynav"  %>


<section class="main-content margin-50 small-padding shadow-off">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="text-block about-us textalignleft">
                            <h1 class="wow slideInLeft">Driving Customer Engagement</h1>
                            <p class="wow slideInUp">
                            Our implementations invite passive customers to engage in our experiences with simple entry points such as gestures, mobile notifications and Bluetooth. They also include cutting edge technology such as augmented reality, voice interactions, gestures triggered content and experiences.
                            </p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>
