<section id="image-static">
    <span class="overlay-bg"></span>
        <div class="fullimage-container titlize" id="socialinteraction-header">
            <div class="container pagize">
            	<div class="row">
                	<div class="col-md-12 textalignleft capabilitiesinfo">

                        <h2>Social Interaction</h2>

                        <p>Leveraging the power of user-generated content</p>

                    </div>
            	</div>
            </div>
        </div>
</section>

  <section class="main-content default-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="what-we-do"class="text-block about-us textalignleft">
                              <h1>Empowering Your Customers</h1>
                              <p>
                                There is a great cost that has traditionally accompanied high quality content, we develop solutions to lower that cost. Our experiences empower your customers to create brand focused and high quality content with their own devices. This focused content creates social conversations centered around your brand.
                              </p>
                            </div>
                        </div>

                        <div class ="col-md-6">
                            <div class="text-block">
                              <iframe src="https://player.vimeo.com/video/187834330?byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
